body, html {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/*Themes*/
.dark-theme {
    --dark1: #090909;
    --dark2: #181818;
    --dark3: #373737;
    --light1: #ffffff;
    --light2: #d5d5d5;
    --light3: #a3a3a3;
    --light3rgba: rgba(225, 225, 225, 0.3);
    --dark3rgba: rgb(55, 55, 55, 0.3);
}
.borderWhite {
    border: 1px solid white;
    height: 100%;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
}

.title {
    display: flex;
    padding-left: 10px;
    color: var(--light2);
    height: 42px;
    background-color: var(--dark2);
    border-image: url(./media/download2.svg) 64;
    border-image-width: 0 0 2px 0;
    border-style: solid;
    align-items: center;
    font-family: 'gravitybold';
}

.closeBtn {
    display: flex;
    position: relative;
    height: 20px;
    width: 20px;
    background-color: var(--dark3);
    right: 5px;
    z-index: 10;
    margin-left: auto;    
    justify-content: center;
    align-items: center;
    border-image: url(./media/download.svg) 64 / 2px;
    border-style: solid;
    font-size: 10px;
}

.div1 {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--dark1);
    padding-inline: 10%;
    padding-block: 10%;
}
.div2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--dark1);
    padding-inline: 10%;
    padding-block-end: 5%;
    padding-block-start: 10%;
}
.div3 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--dark1);
    
    padding-inline: 10%;
    padding-block-end: 10%;
    padding-block-start: 5%;
}

.clockWindow {
    display: flex;
    flex-flow: column;
    background-color: var(--dark3);
    height: 100%;
    border-style: solid;
    border-width: 2px 2px;
    border-image: url(./media/download.svg) 64 / 2px;
    overflow: hidden;
}

.clockWrapper {
    position: relative;
    display: flex;
    margin: 7px;
    background-color: var(--light1);
    height: 100%;
    border-style: solid;
    border-width: 2px 2px;
    border-image: url(./media/download2.svg) 64 / 2px;
    box-sizing: content-box;
    font-family: 'gravityregular';
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#displaySubject {
    font-size: 50px;
    font-family: 'gravitybold';
    font-style: italic;
    text-shadow: 18px -8px 0px rgba(206,89,55,0), 2px 2px 0px #E933FF, -2px -2px 0px #00FFFD;
    text-align: center;
}

#clock { 
    font-size: 30px;
}

.notesContainer {
    position: relative;
    display: flex;
    margin: 7px;
    background-color: var(--light1);
    height: 100%;
    border-style: solid;
    border-width: 2px 2px;
    border-image: url(./media/download2.svg) 64 / 2px;
    box-sizing: content-box;
    font-family: 'gravityregular';
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.notes-title {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 30px;
    font-family: 'Consolas', sans-serif;
    font-weight: bold;
}
.notes-body {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Consolas', sans-serif;
    box-sizing: border-box;
}

.notesHr {
    width:100%;
    text-align:left;
    margin-left:0;
    margin: 0%;
}
.userSelectWrapper {
    position: relative;
    display: flex;
    margin: 7px;
    background-color: var(--dark2);
    height: 100%;
    border-style: solid;
    border-width: 2px 2px;
    border-image: url(./media/download2.svg) 64 / 2px;
    box-sizing: content-box;
    font-family: 'gravityregular';
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
label span {
    font-size: 20px;
    font-family: 'gravitybold';
    color: var(--light2);
    padding-left: 10px;
}
input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: transparent;
    outline: 2px solid var(--light2);
    outline-offset: 2px;
    
    width: 3vh;
    height: 3vh;
    padding: 2px;
}
input[type='radio']:checked {
    background: var(--light2);
    border: 1px solid var(--dark3);
    border-width: 1px 1px;
    border-image: url(./media/download.svg) 64 / 2px;
}
input[type='radio']:hover {
  background: var(--light3rgba);
  fill-opacity: 0.1;
}

button {
    font-size: 25px;
    font-family: 'gravitybold';
    margin: 15px;
    color: var(--dark3);
    border: 1px solid var(--dark3);
    border-width: 1px 1px;
    border-image: url(./media/download.svg) 64 / 2px;
    background-color: var(--light2);
}
button:hover {
    background-color: var(--light3);
}
button:active {
    color: var(--dark2);
    border: 1px solid var(--dark3);
    border-width: 1px 1px;
    border-image: url(./media/download2.svg) 64 / 2px;
}
button:focus-visible {
    outline: none;
    background-color: var(--light3);
}